
html {
  scroll-behavior: smooth;
}


[id] {
  scroll-margin-top: 140px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #f8f6f3 inset !important;
  -webkit-text-fill-color: #2e003e !important;
  caret-color: #2e003e !important;
  border-radius: 4px;
}
